body {
  background-image: url('./img/flower.jpg');
}

.fill img {
  background-color: lightblue;
}

.container {
  align-items: center;
  margin-top: 10%;
  text-align: center;
}

input {
  width: 200px;
  height: 50px;
}

.output {
  font-size: 30pt;
  /*width: 500px;*/
  /*text-align: center;*/
  /*background-color: lightblue;*/
}

.result {

  margin-left: 38%;
  margin-right: 38%;
  margin-top: 1%;
  background-color: rgba(164, 219, 249, 0.5);
  /*width: 500px;*/
}
